<ion-header>
  <ion-toolbar>
    <ion-img
      slot="start"
      class="logo"
      src="..\assets\icon\compass.png"
    ></ion-img>
    <ion-title> About </ion-title>
    <ion-buttons slot="end">
      <ion-button id="close" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding light" *ngIf="!darkMode">
  <h3>
    Welcome to the Calvin Room Finder app! Calvin Room Finder was designed to
    help guide students, staff, and visitors around Calvin's campus using Google
    Maps-like features. Pick a destination and begin exploring campus!
  </h3>
  <br />
  <h5 style="text-align: center">Credits</h5>
  <h5>Team representative:</h5>
  <h5 style="text-indent: 10%">Professor Victor Norman</h5>
  <h5>Developers:</h5>
  <h5 style="text-indent: 10%">Chris Jeong</h5>
  <h5 style="text-indent: 10%">David Mirakian</h5>
  <h5 style="text-indent: 10%">David Heynen</h5>
  <br />
  <h6>Version: 0.10.3</h6>
</ion-content>

<ion-content class="ion-padding dark" *ngIf="darkMode">
  <h3>
    Welcome to the Calvin Room Finder app! Calvin Room Finder was designed to
    help guide students, staff, and visitors around Calvin's campus using Google
    Maps-like features. Pick a destination and begin exploring campus!
  </h3>
  <br />
  <h5 style="text-align: center">Credits</h5>
  <h5>Team representative:</h5>
  <h5 style="text-indent: 10%">Professor Victor Norman</h5>
  <h5>Developers:</h5>
  <h5 style="text-indent: 10%">Chris Jeong</h5>
  <h5 style="text-indent: 10%">David Mirakian</h5>
  <h5 style="text-indent: 10%">David Heynen</h5>
  <br />
  <h6>Version: 0.10.3</h6>
</ion-content>
