<ion-header>
  <ion-toolbar>
    <ion-title> Calvin Room Finder </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3>
    Welcome to the Calvin Room Finder app. This app is designed to help guide
    students, staffs, and visitors around Calvin campus by using Google-map like
    features that are specifically designed for Calvin campus. The main purpose
    of Calvin Room Finder is to guide users to their desired classroom on
    campus.
  </h3>
  <br />
  <h5>Credits:</h5>
  <h5>Professor Victor Norman: Team representative</h5>
  <h5>Chris Jeong: Developer</h5>
  <h5>David Mirakian: Developer</h5>
  <h5>David Heynen: Developer</h5>
  <br />
  <h6>Version: 0.5.0</h6>
</ion-content>
