ion-toolbar {
  --background: #8C2131;
}

.dark {
  --background: black;
  --color: white;
  --border-color: white;
}

.light {
  --background: white;
  --color: black;
  --border-color: black;
}

.transparentList {
  background: transparent
}

ion-toggle::part(track) {
  background: darkgray;
}

ion-toggle.toggle-checked::part(track) {
  background: red;
}

.logo {
  display: block;
  height: 75px;
  width: 75px;
}