<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<!--theme, units: metric/imperial, navigation: sound/vibration/off (skip this),
    map rotation: toggle, accessability: toggle, change user icon-->
<ion-content>
  <ion-list>
    <ion-item id="dark-mode">
      <ion-label>Dark mode</ion-label>
      <ion-toggle name="dark-mode-toggle" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-item id="units">
      <ion-segment value="units">
        <ion-label>Units</ion-label>
        <ion-segment-button value="feet">
          <ion-label>Feet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="meters">
          <ion-label>Meters</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item id="map-rotation">
      <ion-label>Rotate map</ion-label>
      <ion-toggle name="map-rotation-toggle" [enableOnOffLabels]="true" [checked]="true"></ion-toggle>
    </ion-item>
    <ion-item id="accessibility-mode">
      <ion-label>Accessibility mode</ion-label>
      <ion-toggle name="accessibility-mode-toggle" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-item id="icon-select">
      <ion-select placeholder="Select icon">
        <ion-select-option value="one">
          <ion-icon name="square"></ion-icon>
        </ion-select-option>
        <ion-select-option value="two">
          <ion-icon name="triangle"></ion-icon>
        </ion-select-option>
        <ion-select-option value="three">
          <ion-icon name="circle"></ion-icon>
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>