<ion-content [fullscreen]="true">
  <ion-page>
    <ion-slides style="background-color: #F1CE17;" pager="true" (ionSlideDidChange)="onSlideChanged()">
      <ion-slide>
        <img src="../../../assets/images/screen.png">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/screeni.png">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/screenii.png">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/screeniii.png">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/screeniv.png">
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/images/screenv.png">
      </ion-slide>
    </ion-slides>
  </ion-page>
</ion-content>