
<ion-content [fullscreen]="true">
 <ion-page>
  <ion-slides style="background-color: #F1CE17;" pager="true" (ionSlideDidChange)="onSlideChanged()">
    <ion-slide>
      <img src= "../../../assets/images/screen.png">
    </ion-slide>
    <ion-slide>
      <img src= "../../../assets/images/screenI.png">
    </ion-slide>
    <ion-slide>
      <img src= "../../../assets/images/screenII.png">
    </ion-slide>
    <ion-slide>
      <img src= "../../../assets/images/screenIII.png">
    </ion-slide>
    <ion-slide>
      <img src= "../../../assets/images/screenIV.png">
    </ion-slide>
    <ion-slide>
      <img src= "../../../assets/images/screenV.png">
    </ion-slide>
  </ion-slides>
</ion-page>
</ion-content>
