
<ion-content>
  <swiper-container>
   <swiper-slide>
  <scontainer>

    <p>
      Have you ever had diffcult time finding classrooms?
    </p>
  </scontainer>
  </swiper-slide>

  
   <swiper-slide>
    <scontainer>
      <p>
        With our CalvinRoomfinder, it is easy to locate classrooms!
      </p>
    </scontainer>
   </swiper-slide>

   <swiper-slide>
    <p>
      To find your room, simply press on the   
    </p>
  </swiper-slide>

  <swiper-slide>
    <p>
      <ion-button (click)="nextpage()">Let's get started!</ion-button>

    </p>
  </swiper-slide>
  </swiper-container>
</ion-content>
