#map {
  height: 100%;
}

ion-img {
  width: 10%;
  height: 10%;
}

#sbox {
  justify-content: center;
}

.my-search-box {
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

#search {
  padding: 0;
}

#aboutButton {
  --color: white;
  text-transform: none;
}

#routeName {
  word-wrap: normal;
}

#roomFound {
  --background: black;
  --color: white;
  width: 100%;
  --box-shadow: 0px 1px 0px 0px rgb(255,255,255,0.2);
  padding: 1px;
}

span.ion-text-left {
  margin-right: auto;
  margin-left: 1%;
}

#noResults {
  color: white;
  margin-left: 1%;
}

// Hide scroll
// ion-content{
//   width: calc(100% + 15px);
// }
// ion-content::part(scroll) {
//   padding-right: 15px;
// }

ion-toolbar {
  --background: #8C2131;
}

.logo {
  display: block;
  height: 75px;
  width: 75px;
}
