#map {
  height: 100%;
}

#sbox {
  justify-content: center;
}

.my-search-box {
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}