<ion-header>
  <ion-toolbar>
    <ion-img
      slot="start"
      class="logo"
      src="..\assets\icon\compass.png"
    ></ion-img>
    <ion-title>
      <div class="ion-text-wrap">{{ destination }} floor {{ floor }}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="close" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding light" *ngIf="!darkMode">
  <p>{{ distance }} to go</p>
  <p>{{ duration }} remaining</p>
</ion-content>
<ion-content class="ion-padding dark" *ngIf="darkMode">
  <p>{{ distance }} to go</p>
  <p>{{ duration }} remaining</p>
</ion-content>
