ion-toolbar {
  --background: #8C2131;
}

ion-title {
  --color: white;
}

#close {
  --color: white;
}

.light {
  --background: white;
  --color: black;
}

.dark {
  --background: black;
  --color: white;
}

.logo {
  display: block;
  height: 50px;
  width: 50px;
}